@import 'libs/bootstrap-reboot.min';

@import 'base/variables';

@import 'blocks/text';
@import 'blocks/cart';
@import 'blocks/footer';
@import 'blocks/catalog';
@import 'blocks/item';
@import 'blocks/labels';

* {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.side-panel {
    display: none;
}

body {
    margin: 0;
    font-family: system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'HelveticaNeueCyr', sans-serif;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: $main-text;
        }
    }
}

.main {
    padding: 45px 55px 0 55px;
    background-color: white;
    height: 100vh;
    position: relative;
    header {
        z-index: 10;
        position: fixed;
        width: calc(100% - 110px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2.625em;
        a {
            img {
                height: 2.625em;
            }
        }
    }
    &__catalog {
        height: auto;
    }
    &__center {
        height: calc(100% - 113px);
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    &__link {
        width: 60%;
        position: absolute;
        height: 90vh;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        img {
            max-width: 100%;
            height: 100%;
            display: block;
            margin: 0 auto;
            object-fit: cover;
        }
        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 700;
            font-size: 2em;
            line-height: 80px;
            display: block;
            text-transform: uppercase;
            color: white;
        }
    }
}

.side-panel {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    width: 200px;
    .category {
        margin-bottom: 2px;
    }
    .sub-categories {
        margin-top: 23px;
    }
    a {
        display: inline-block;
        height: 100%;
    }
    li {
        list-style: none;
    }
}