@import 'libs/bootstrap-reboot.min';

@import 'base/variables';

@import 'blocks/text';

* {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    margin: 0;
    font-family: system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'HelveticaNeueCyr', sans-serif;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: $main-text;
        }
    }
}

.main {
    padding: 45px 55px 0 55px;
    background-color: white;
    height: 100vh;
    position: relative;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            img {
                height: 2.625em;
            }
        }
    }
    &__center {
        height: calc(100% - 113px);
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    &__link {
        width: 60%;
        position: absolute;
        height: 90vh;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        // transform: translateX(-50%);
        img {
            height: 100%;
            display: block;
            margin: 0 auto;
            object-fit: cover;
        }
        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 700;
            font-size: 2em;
            line-height: 80px;
            display: block;
            text-transform: uppercase;
            color: white;
        }
    }
}

.side-panel {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    width: 200px;
    .category {
        margin-bottom: 2px;
    }
    .sub-categories {
        margin-top: 23px;
    }
    a {
        display: inline-block;
        height: 100%;
    }
    li {
        list-style: none;
    }
}

.catalog {
    center {
        cursor: pointer;
    }
    &__wrapper {
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-card {
        color: black;
        width: 350px;
        margin-bottom: 100px;
        a {
            width: 100%;
            color: black;
        }
        img {
            width: 100%;
            height: 485px;
            object-fit: cover;
        }
        &__text {
            text-align: center;
        }
        &__title {
            margin-top: 10px;
            text-transform: uppercase;
            font-weight: 550;
            font-size: 22px;
            line-height: 1.5;
        }
        &__price {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 18px;
            line-height: 1.5;
            margin-top: 10px;
        }
    }
}

.footer {
    height: 160px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    border-top: .5px solid #eee;
    &-line {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__links {
            width: 120px;
            a {
                margin-right: 10px;
                img {
                    height: 2.625em;
                }
            }
        }
        &__text {
            width: 650px;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            li {
                list-style: none;   
            }
        }
        &__logo {
            width: 120px;
            display: flex;
            align-items: center;
            justify-content: end;
            img {
                width: 72px;
            }
        }
    }
}