.cart {
    min-height: 90vh;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        padding-top: 40px;
    }
    &__way {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 500;
    }
    &__form {
        button {
            margin-top: 30px;
            background: #D9D9D9;
            height: 50px;
            width: 100%;
            border: none;
            &:focus {
                outline: none;
            }
        }
    }

    &-item {
        display: flex;
        img {
            margin-right: 30px;
            width: 240px;
            object-fit: cover;
        }
        &__text {
            width: 235px;
        }
        &__title {
            max-width: 100%;
            word-break: break-all;
        }
        &__price {
            margin-top: 8px;
        }
        &__size {
            margin-top: 10px;
        }
        &__close {
            border: none;
            background: rgba(0, 0, 0, 0);
            width: 18px;
            height: 18px;
            margin-top: 2px;
            &:focus {
                outline: none;
            }
            img {
                width: 100%;
                margin-right: 0;
            }
        }
    }
}