.t11r {
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    text-transform: uppercase;
    color: black;
    &__black {
        color: black;
    }
}

.t22m {
    font-weight: 550;
    font-size: 22px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #000000;
}

.t18l {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
}