body {
  background: #8ed0ed;
}
* {
  font-family: Inter;
}

.logo {
  width: 125px;
  height: 125px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
}

.sphere {
  width: 1440px;
  background-color: #fff;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 60px;
  text-transform: uppercase;
  font-weight: 900;
  word-break: break-all;
  padding: 30px 0 65px 0;
  &__title {
    text-align: center;
    font-size: 45px;
  }
  &-choice {
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 50px;
    max-width: 1150px;
    &__item {
      width: 350px;
      height: 70px;
      border-radius: 24px;
      background: #ccefff;
      margin-bottom: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      cursor: pointer;
      border: none;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
}

.box {
  font-weight: 900;
  font-size: 35px;
  text-transform: uppercase;
  width: 1440px;
  margin: 0 auto;
  margin-top: 60px;
  &__title {
    text-align: center;
  }
  &-choice {
    margin: 0 auto;
    width: 1280px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    &__item {
      background: #fff;
      border-radius: 60px;
      cursor: pointer;
      border: none;
      padding: 40px;
      width: 350px;
      transition: all 0.6s;
      &:hover {
        background-color: #a7bdcc;
        // box-shadow: 5px #fff;
      }
      img {
        height: 200px;
        max-width: 100%;
      }
      p {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        margin: 0;
        margin-top: 15px;
      }
    }
  }
}

.lang {
  img {
    pointer-events: none;
  }
  p {
    pointer-events: none;
  }
}

.ide {
  a {
    text-decoration: none;
    color: black;
  }
}

.frame {
  a {
    text-decoration: none;
    color: black;
  }
}

.sph-lang {
  margin-bottom: 20px;
}

.sphere-choice__item {
  transition: all 0.6s;
  &:hover {
    background-color: #1c92e1;
  }
}

.logo {
  transition: all 0.6s;
  &:hover {
    background-color: #1c92e1;
  }
}
